@use "variables.scss" as vars;

@use "widgets/background.scss";
@use "widgets/battery.scss";
@use "widgets/brightness.scss";
@use "widgets/buttons.scss";
@use "widgets/clock.scss";
@use "widgets/divider.scss";
@use "widgets/power.scss";
@use "widgets/window.scss";
@use "widgets/workspace.scss";

* {
  font-family: "HackNerdFont";
  font-size: 0.9rem;
  color: vars.$text;
}
