* {
  all: unset;
}

@import "./theme.scss";

$border_radius: 10px;

window.topbar {
  background-color: transparent;
  font-family: "Hack Nerd Font", monospace;
}

tooltip {
  padding: 1px 7px;
  background-color: $background;
  border: 2px solid $primary;
  border-radius: $border_radius;
  font-size: 14px;
  color: $on_background;
}

.eww_topbar {
  color: $on_background;
  min-height: 30px;

  margin: 0 6px;
  color: $on_background;

  .clock {
    background-color: $surface_container_highest;
    padding: 4px 10px;
    min-height: 25px;
    border: 2px solid $primary;
    border-radius: $border_radius;
    font-size: 15px;
    font-weight: bold;
  }

  .workspaces {
    background-color: $surface_container_highest;
    padding: 4px 10px;
    min-width: 30px;
    min-height: 25px;
    border: 2px solid $primary;
    border-radius: $border_radius;

    .workspace {
      margin: 0 4px;
      .icon {
        font-size: 18px;
      }

      &.active {
        color: $primary;
      }

      &:hover:not(.active) {
        color: $tertiary;
      }

      &:nth-child(0),
      &:last-child {
        margin: 0;
      }
    }
  }

  .utilities {
    background-color: $surface_container_highest;
    padding: 4px 10px;
    min-height: 25px;
    border: 2px solid $primary;
    border-radius: $border_radius;

    .icon {
      font-size: 18px;
      margin: 0 4px;
    }

    .power {
      * {
        margin: 0 6px 0 4px;
      }

      &:hover {
        color: $error;
      }
    }

    .battery {
      &.low {
        color: $tertiary_fixed;
      }

      &.critical {
        color: $error_container;
      }
    }
  }
}

