@use "../variables.scss" as vars;

.batteryContainer {
  all: unset;
  background-color: vars.$base;
  color: vars.$text;
  padding: 4px 10px 4px 10px;
  border: none;
  min-width: 30px;
  border-radius: vars.$radius;

  &:hover {
    background-color: vars.$mantle;
  }

  label {
    margin-left: 4px;
  }

  &.batteryLow {

    image,
    label {
      color: vars.$yellow;
    }
  }

  &.batteryTooLow {

    image,
    label {
      color: vars.$red;
    }
  }
}
