@use "../variables.scss" as vars;

.clockButton {
  all: unset;
  background-color: vars.$base;
  color: vars.$text;
  padding: 4px 10px 4px 10px;
  border: none;
  min-width: 30px;
  min-height: 25px;
  border-radius: vars.$radius;
  font-size: 15px;
  font-weight: bold;

  &:hover {
    background-color: vars.$mantle;
  }
}
