@use "../variables" as vars;

.barWindow {
  background-color: vars.$base;
  border-radius: vars.$radius;
  border-color: vars.$blue;
  border-width: 2px;
  border-style: solid;
}

.topBar {
  min-height: 30px;
}
