* {
    image: url("/home/luis/dotfiles/Pictures/wallpapers/rosepeak.png", height);
    image-width: url("/home/luis/dotfiles/Pictures/wallpapers/rosepeak.png", width);
    background: #121415;
    primary: #a3cde1;
    primary-fixed: #bee9fe;
    primary-fixed-dim: #a3cde1;
    on-primary: #013545;
    on-primary-fixed: #001f2a;
    on-primary-fixed-variant: #214c5d;
    primary-container: #4a7385;
    on-primary-container: #ffffff;
    secondary: #b9c9d2;
    secondary-fixed: #d5e5ee;
    secondary-fixed-dim: #b9c9d2;
    on-secondary: #243239;
    on-secondary-fixed: #0e1d24;
    on-secondary-fixed-variant: #3a4950;
    secondary-container: #3c4b53;
    on-secondary-container: #d6e6ef;
    tertiary: #d9bde5;
    tertiary-fixed: #f5d9ff;
    tertiary-fixed-dim: #d9bde5;
    on-tertiary: #3d2848;
    on-tertiary-fixed: #271332;
    on-tertiary-fixed-variant: #543e60;
    tertiary-container: #7d6589;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #121415;
    on-surface: #e2e2e4;
    on-surface-variant: #c1c7cc;
    outline: #8b9296;
    outline-variant: #41484b;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e2e2e4;
    inverse-on-surface: #2f3132;
    inverse-primary: #3a6475;
    surface-dim: #121415;
    surface-bright: #37393b;
    surface-container-lowest: #0c0e10;
    surface-container-low: #1a1c1d;
    surface-container: #1e2021;
    surface-container-high: #282a2b;
    surface-container-highest: #333536;
}