notificationwindow,
blankwindow {
  background: transparent;
}

.close-button {
  background: #93000a;
  color: #dfe3e4;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin: 8px;
  box-shadow: none;
  border: none;
  min-width: 8px;
  min-height: 8px;
}
.close-button:hover {
  box-shadow: none;
  border-radius: 100%;
  color: #93000a;
  background: #ffdad6;
  border: none;
}

.notification-row {
  background: none;
  outline: none;
}
.notification-row:focus {
  background: rgba(38, 43, 44, 0.9);
}
.notification-row .notification-background {
  padding: 4px 4px 0 0;
}
.notification-row .notification-background .notification {
  border-radius: 5px;
  border: 2px solid #72d5e4;
  padding: 0;
  transition: background 0.15s ease-in-out;
  background: rgba(49, 54, 54, 0.9);
}
.notification-row .notification-background .notification.critical {
  border: 2px solid #93000a;
}
.notification-row .notification-background .notification .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: #dfe3e4;
  transition: background 0.15s ease-in-out;
  border-radius: 5px;
}
.notification-row .notification-background .notification .notification-default-action:hover {
  background: #262b2c;
}
.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 5px;
  padding: 0;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  -gtk-icon-size: 64px;
  border-radius: 5px;
  margin: 4px;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  -gtk-icon-size: 21.3333333333px;
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  filter: none;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  font-size: 16px;
  font-weight: bold;
  color: #dfe3e4;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  font-size: 16px;
  font-weight: bold;
  color: #dfe3e4;
  margin-right: 30px;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-size: 15px;
  color: #dfe3e4;
}
.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  margin-top: 4px;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  margin-top: 4px;
  background-color: white;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  margin-top: 4px;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply-entry {
  background: #1c2021;
  color: #dfe3e4;
  caret-color: #dfe3e4;
  border: 2px solid #72d5e4;
  border-radius: 5px;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply-button {
  margin-left: 4px;
  background: rgba(49, 54, 54, 0.9);
  border: 2px solid #72d5e4;
  border-radius: 5px;
  color: #dfe3e4;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply-button:hover {
  background: #262b2c;
}
.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply-button:disabled {
  background: none;
  color: #bdc9cb;
  border-color: transparent;
}
.notification-row .notification-background .notification .notification-alt-actions {
  background: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px;
}
.notification-row .notification-background .notification .notification-action {
  margin: 4px;
  padding: 0;
}
.notification-row .notification-background .notification .notification-action > button {
  border-radius: 5px;
  color: #dfe3e4;
}

.notification-group {
  transition: opacity 200ms ease-in-out;
}
.notification-group:focus {
  background: #262b2c;
}
.notification-group.collapsed {
  background: transparent;
}
.notification-group.collapsed .notification-row .notification {
  background: rgba(49, 54, 54, 0.9);
}
.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}
.notification-group.collapsed:hover .notification {
  background: #262b2c;
}
.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}
.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 0 16px;
  color: #dfe3e4;
}
.notification-group .notification-group-headers .notification-group-icon {
  -gtk-icon-size: 32px;
}

.control-center {
  background: rgba(49, 54, 54, 0.9);
  color: #dfe3e4;
  border-radius: 5px;
  border: 2px solid #72d5e4;
}
.control-center .control-center-list-placeholder {
  opacity: 0.5;
}
.control-center .control-center-list {
  background: transparent;
}
.control-center .control-center-list .notification {
  box-shadow: #000000;
}
.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: opacity 400ms ease-in-out, background 0.15s ease-in-out;
}
.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: rgba(38, 43, 44, 0.9);
}

.floating-notifications {
  background: transparent;
}
.floating-notifications .notification {
  box-shadow: none;
}

.widget {
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
}

.widget-title > label {
  margin-right: 8px;
  font-weight: bold;
  font-size: 1.5rem;
}
.widget-title > button {
  margin-left: 8px;
  border-radius: 5px;
}

.widget-dnd label {
  color: #dfe3e4;
  margin-right: 8px;
  font-weight: 600;
  font-size: 1.1rem;
}
.widget-dnd switch {
  background: #3e494b;
  border-radius: 5px;
  margin-left: 8px;
}
.widget-dnd switch slider {
  border-radius: 5px;
  background: #dfe3e4;
}
.widget-dnd switch:checked {
  background: #690005;
}
.widget-dnd switch:checked slider {
  background-color: #ffdad6;
}

.widget-label > label {
  font-size: 1.1rem;
}

.widget-slider label {
  font-size: inherit;
}
