
$background: #121415;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2f3132;

$inverse_primary: #3a6475;

$inverse_surface: #e2e2e4;

$on_background: #e2e2e4;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #013545;

$on_primary_container: #ffffff;

$on_primary_fixed: #001f2a;

$on_primary_fixed_variant: #214c5d;

$on_secondary: #243239;

$on_secondary_container: #d6e6ef;

$on_secondary_fixed: #0e1d24;

$on_secondary_fixed_variant: #3a4950;

$on_surface: #e2e2e4;

$on_surface_variant: #c1c7cc;

$on_tertiary: #3d2848;

$on_tertiary_container: #ffffff;

$on_tertiary_fixed: #271332;

$on_tertiary_fixed_variant: #543e60;

$outline: #8b9296;

$outline_variant: #41484b;

$primary: #a3cde1;

$primary_container: #4a7385;

$primary_fixed: #bee9fe;

$primary_fixed_dim: #a3cde1;

$scrim: #000000;

$secondary: #b9c9d2;

$secondary_container: #3c4b53;

$secondary_fixed: #d5e5ee;

$secondary_fixed_dim: #b9c9d2;

$shadow: #000000;

$source_color: #4a7385;

$surface: #121415;

$surface_bright: #37393b;

$surface_container: #1e2021;

$surface_container_high: #282a2b;

$surface_container_highest: #333536;

$surface_container_low: #1a1c1d;

$surface_container_lowest: #0c0e10;

$surface_dim: #121415;

$surface_tint: #a3cde1;

$surface_variant: #41484b;

$tertiary: #d9bde5;

$tertiary_container: #7d6589;

$tertiary_fixed: #f5d9ff;

$tertiary_fixed_dim: #d9bde5;
