
$background: #0f1415;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2c3132;

$inverse_primary: #006874;

$inverse_surface: #dfe3e4;

$on_background: #dfe3e4;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #00363d;

$on_primary_container: #001316;

$on_primary_fixed: #001f24;

$on_primary_fixed_variant: #004f58;

$on_secondary: #10353b;

$on_secondary_container: #c2e7ed;

$on_secondary_fixed: #001f24;

$on_secondary_fixed_variant: #294c51;

$on_surface: #dfe3e4;

$on_surface_variant: #bdc9cb;

$on_tertiary: #441f5c;

$on_tertiary_container: #1e0032;

$on_tertiary_fixed: #2d0645;

$on_tertiary_fixed_variant: #5c3774;

$outline: #879395;

$outline_variant: #3e494b;

$primary: #72d5e4;

$primary_container: #43abba;

$primary_fixed: #97f0ff;

$primary_fixed_dim: #72d5e4;

$scrim: #000000;

$secondary: #a9cdd3;

$secondary_container: #294c51;

$secondary_fixed: #c4e9f0;

$secondary_fixed_dim: #a9cdd3;

$shadow: #000000;

$source_color: #43abba;

$surface: #0f1415;

$surface_bright: #353a3b;

$surface_container: #1c2021;

$surface_container_high: #262b2c;

$surface_container_highest: #313636;

$surface_container_low: #181c1d;

$surface_container_lowest: #0a0f10;

$surface_dim: #0f1415;

$surface_tint: #72d5e4;

$surface_variant: #3e494b;

$tertiary: #e3b6fd;

$tertiary_container: #b88dd1;

$tertiary_fixed: #f4d9ff;

$tertiary_fixed_dim: #e3b6fd;
